extends layout
block content
  h1= add_message
  form(method="POST")
    //name, genre, color, age, weight
    p Name:
    input
    p Genre:
    input
    p Color:
    input
    p Age:
    input
    p Weight:
    input
    button
    input(type="submit")